body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    background-image: url("../images/PerchedTones_150.png");
    color: #485156;
    background-size: cover;
}

.title {
  font-size: 26px;
}

.meditation {
  font-size: 22px;
}

.sass, .css {
  width: calc(50% - 42px);
  float: left;
  font-family: courier;
  padding: 20px;
  border-left: 1px solid #D3D4CE;
}

.blank {
  border: 1px solid #7B8C93;
}
